<a href="https://colab.research.google.com/github/davidcastro31/prograIII-2025-semi/blob/main/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hola mundo')
print('Bienvenido chicos a Programacion Computacional III')

hola mundo
Bienvenido chicos a Programacion Computacional III

In [ ]:
nombre = 'David Castro'
edad = 5
print('hola', nombre, edad)

edad = 'cinco'
print('Tu edad: ', edad)

hola David Castro 5
Tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print('la suma es:', suma)

la suma es: 13.9

In [ ]:
num1 = float (input('Ingrese el primer numero: '))
num2 = float (input('Ingrese el segundo numero: '))
suma = num1 + num2
print('la suma es:', suma)

Ingrese el primer numero: 10
Ingrese el segundo numero: 11
la suma es: 21.0

In [ ]:
num1 = float (input('Ingrese el primer numero: '))
num2 = float (input('Ingrese el segundo numero: '))
rest = num1 - num2
print('la resta de', num1, '-', num2, 'es:', rest)

Ingrese el primer numero: 5
Ingrese el segundo numero: 5
la resta de 5.0 - 5.0 es: 0.0

TIPOS DE DATOS EN PYTHON

In [7]:
#ENTERO
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#DECIMAL
num2 = 7.5
print(num2, "Esto es un numero decimal")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un booleano")

#CADENA
nombre = "David Castro"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

6 Esto es un numero entero
6 Esto es un entero
7.5 Esto es un numero decimal
True Esto es un booleano
Dime una cadena: David
Dime un valor: 2
David Castro Esto es una cadena Da
David Castro Letra inicial D Un valor especifico   rango Davi Comenzar desde el final o
 Castro Davi
<class 'str'>

In [8]:
#FECHAS
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-29 01:52:13.203352 2025-07-29 01:52:13.203352
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 31-08-2006
2006-08-31 00:00:00

FUNCIONES EN PYTHON

In [9]:
#Suma
def suma(num1, num2):
  return num1 + num2

In [10]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [11]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 5
Num2: 6
La suma es:  11.0

In [12]:
#Resta
def resta(num1, num2):
  return num1 - num2

num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = resta(num1, num2)
print("La resta es: ", respuesta)

Num1: 4
Num2: 2
La resta es:  2.0